/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ffffff;
  color: #000;
}

/* ===== HEADER ===== */

header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .logo-square {
  width: 24px;
  height: 24px;
  border: 2px solid #000;
}

header nav {
  display: flex;
  gap: 25px;
}

header nav a {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.5px;
}

main {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px;
}

/* ===== HERO ===== */
.hero h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.hero .subtitle {
  margin-top: 5px;
  font-size: 12px;
}

.hero .descricao {
  margin-top: 15px;
  font-size: 11px;
  max-width: 350px;
  line-height: 1.45;
}

/* ===== TITULOS DE SESSAO ===== */
.section-title {
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 4px;
  font-weight: bold;
}

.section-sub {
  font-size: 10px;
  margin-bottom: 10px;
}

/* ===== PROJETOS ===== */
.projects-box {
  margin-top: 10px;
  background: #f7f7f7;
  border: 1px solid #dcdcdc;
  padding: 25px;
  padding-bottom: 35px;
}

.projects-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.card {
  border: 1px solid #ccc;
  background: #fff;
  padding: 12px;
}

.card .thumb {
  width: 100%;
  height: 75px;
  background: #ddd;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 12px;
  font-weight: bold;
}

.card p {
  margin-top: 4px;
  font-size: 10px;
  line-height: 1.35;
}

/* ===== TECNOLOGIAS ===== */
.tech-bar {
  margin-top: 10px;
  width: 100%;
  height: 22px;
  background: #e1e1e1;
  border: 1px solid #d3d3d3;
}

/* ===== CERTIFICADOS ===== */
.cert-list {
  background: #f7f7f7;
  padding: 25px;
  border: 1px solid #dcdcdc;
  margin-top: 10px;
}

.cert-item {
  display: flex;
  gap: 15px;
  border: 1px solid #ccc;
  padding: 15px;
  background: #fff;
  margin-bottom: 15px;
}

.cert-item .thumb {
  width: 60px;
  height: 60px;
  background: #ddd;
}

.cert-item h4 {
  font-size: 12px;
  font-weight: bold;
}

.cert-item p {
  font-size: 10px;
  margin-top: 4px;
}

/* ===== FOOTER ===== */
footer {
  width: 100%;
  text-align: center;
  background: #2b2b2b;
  color: #fff;
  padding: 15px 0;
  font-size: 11px;
  margin-top: 40px;
}
